@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(244, 243, 241);
}

body{
    padding: 0.75em;
}